@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic);

.row .row {
    margin-left: 0;
    margin-right: 0;
}

.carousel {
  position: relative;
  margin-top: -8.0625rem;
  z-index: -1;
}

//.carousel-text {
//  position: relative;
//  height: 0;
//  top: 5rem;
//  z-index: 2;
//  overflow: visible;
//}

.orbit-container {
  .orbit-bullets {
    margin: -3.5rem 8.2rem 0 auto;
    overflow: hidden;
    position: relative;
    top: 1rem;
    float: right;
    text-align: center;
    display: block;
  }
  .orbit-timer {
      z-index: -1;
  }
}

.nav-top {
  height: 8.0625rem;
  background-color: rgba(0, 82, 204, 0.9);
  box-shadow: 0px 0px 0.0625rem black;
}

.nav-top-link {
  text-align: center;
}

.nav-sub {
  height: 4.875rem;
  background-color: #b2b2b2;
  text-align: center;
  vertical-align: middle;
  padding-top: 1.5rem;
  position: relative;
  // margin-top: 8.5rem;
}

.nav-sub-link {
  color: #525252;
  position: relative;
}

.nav-sub-link-active {
  color: white;
  &:after {
    display: block;
    content: '';
    width: 1rem;
    margin: 0.4375rem auto 0;
    border-bottom: 1rem solid white;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
  }
  &:hover {
    color: white;
  }
}

.content-heading {
  display: block;
  width: 30rem;
  padding-bottom: 0.5rem; 
  line-height: 2.1rem;
}

.content-text {
  line-height: 1.5rem;
}

.content-img {
  padding-top: 3.625rem;
}

.footer-top {
  content: '';
  height: 6.25rem;
  margin-top: 4rem;
  background-color: #9ee892;
  background: url(../img/bg-footer1.jpg) repeat-x;
}

.footer-sub {
  content: '';
  height: 17.625rem;
  background-color: #0c4fb5;
}

.tagline {
  display: inline-block;
  padding-top: 2.2rem; 
}

.button-price {
    display: inline-block;
    height: 100%;
}

.site-map {
  padding-top: 2rem;
  margin-right: 1rem;
  dd {
    margin-bottom: 0;
  }
}

.footer-img {
    width: 5.75rem;
    padding-bottom: 0.5rem;
}

.underline-dot {
  border-bottom: 1px dotted white;
}

.button-padding-sm {
  display: block;
  padding: 0.1em 0.6em;
}

.button-padding-md {
  display: block;
  padding: 0.27em 0.6em;
}

.accordion {
  a {
    padding-left: 1rem !important;
    &:not(.white):after {
      content:url("../img/arrow-down.png");
    }
  }
  a[class*='white'] {
    &:after{
      content:url("../img/arrow-up.png");
    }
  }
  .content {
    padding-left: 1rem !important;
    font-size: 0.875rem;
  }
}

// --- COLORS --- //

.blue { color: #0c4fb5; }

.green-bg-dark { background-color: #199540 !important; }

.green-bg-light { background-color: #1faf4d !important; }

.green-bg-mid { background-color: #7ecf71 !important; }

.green-text-mid { color: #7ecf71 !important; }

.mid-grey { color: #808084 !important; }

.orange { color: #f68933 !important; }

.white { color: #fff !important; }



// --- TYPOGRAPHY --- //

.font-size-11 { font-size: 0.6875rem; }
.font-size-12 { font-size: 0.75rem;   }
.font-size-14 { font-size: 0.875rem;  }
.font-size-19 { font-size: 1.1875rem; }
.font-size-20 { font-size: 1.25rem;   }
.font-size-21 { font-size: 1.3125rem; }
.font-size-25 { font-size: 1.5625rem; }
.font-size-26 { font-size: 1.625rem;  }
.font-size-30 { font-size: 1.875rem;  }
.font-size-36 { font-size: 2.25rem;   }
.font-size-48 { font-size: 3rem;      }

.font-light      { font-weight: 300; }
.font-normal     { font-weight: 400; }
.font-semi-bold  { font-weight: 600; }
.font-bold       { font-weight: 700; }
.font-extra-bold { font-weight: 800; }

.font-italic { font-style: italic; }

.font-shadow { text-shadow: 0.1rem 0.1rem 0.3rem black;}



// --- HELPER CLASSES --- //

.padding-top-16 { padding-top: 1.6rem; }
.padding-top-25 { padding-top: 2.5rem; }
.padding-top-7  { padding-top: 7rem;   }
.padding-top-9  { padding-top: 9rem;   }

.width-120 { width: 120%; }

.border-radius-1 { border-radius: 1rem; }
