.orbit-container .orbit-bullets {
    margin: -3rem 3rem 0 0;
    overflow: hidden;
    position: relative;
    top: 10px;
    float: right;
    text-align: center;
    display: block;
}

.orbit-container .orbit-timer {
    z-index: -1;
}

.nav-top {
    content: '';
    position: relative;
    height: 8rem;
    background: rgba(0, 82, 204, 0.9);
    box-shadow: 0px 0px 1px black;
    margin-top: -8rem;
    top: -19.2rem;
}

.nav-sub {
    content: '';
    height: 4.875rem;
    background: #b2b2b2;
    text-align: center;
    padding-top: 1.7rem;
    border-bottom: 1px solid #c8c3bc;
}

.nav-sub-link {
    color: #525252;
}

.nav-sub-link-active {
    color: white;
    &:before {
        content: '';
        height: 0;
        width: 0;
        position: relative;
        bottom: -0.75rem;
        left: 2.9rem;      
        border-bottom: 1rem solid white;
        border-top: 1rem solid transparent;
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
    }
    &:hover {
        color: white;
    }
}

.main-section {
    content: '';
    // height: 30.375rem;
}

.footer-top {
    content: '';
    height: 6.25rem;
    background-color: #9ee892;
    background: url(../img/bg-footer1.jpg) repeat-x;
}

.footer-sub {
    content: '';
    height: 17.625rem;
    background-color: #0c4fb5;
}

.h2-text, h2 { font-size: 1.625rem; }

.section-heading {
    display: block;
    width: 30rem;
    padding-bottom: 0.5rem;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 2.1rem;
}

.section-font {
    font-size: 1.1875rem;
    font-weight: 100;
    line-height: 1rem;
}

.section-img {
    // margin-top: -2rem;
    padding: 3.625rem 0;
}





// --- COLORS --- //

.blue { color: #0c4fb5; }

.mid-grey { color: #808084; }

.orange { color: #f68933; }

.white { color: white; }




// --- HELPER CLASSES --- //

.padding-top-17 { padding-top: 1.7rem; }

.padding-top-24 { padding-top: 2.4rem; }

.padding-top-60 { padding-top: 6rem; }

.padding-top-80 { padding-top: 8rem; }


