@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic);


 


 // ---------- HEADER TOP ---------- //

.header-top {
  height: 8.125em;
  background-color: rgba(0,82,204,0.9);
  -webkit-box-shadow: 0 1px 4px black;
          box-shadow: 0 1px 4px black;
}

// .header-top__nav-list {

// }

.header-top__nav-item {
  padding-left: 2.2em;
  font-size: 0.875rem;
  font-weight: 600;
  &:first-child {
    padding-left: 0;
  }
}

.header-top__nav-link {
  color: white;
}

.header-top__login-btn {
  padding: 0 0.7em;
  font-size: 0.6875em;
  line-height: 1.7;
}

.header-top__login-row {
  padding-top:    1.5em;
  padding-bottom: 2em;
}

.logo {
  margin-top: -7px;
}










// ---------- HEADER SUB ---------- //

$box-shadow-color: rgba(0,0,0,0.25);
$header-sub-height: 4.875rem;
$triangle-box-size: 1.3em;


.header-sub {
  height: $header-sub-height;
  background: #b2b2b2;
  overflow: hidden;
  -webkit-box-shadow: inset 0 -0.1em 0.1em $box-shadow-color;
          box-shadow: inset 0 -0.1em 0.1em $box-shadow-color;
}

.header-sub__nav-list {
  margin:  0;
  padding: 0;
}

.header-sub__nav-item {
  display: block;
  float: left;
  line-height: $header-sub-height;
  padding-left: 4.1em;
  &:first-child{
    padding-left: 0;
  }
}

.header-sub__nav-item--active:after {
  content: '';
  display: block;
  width:  $triangle-box-size;
  height: $triangle-box-size;
  margin: -($triangle-box-size / 2) auto 0;
  background: white;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);   
  -webkit-transform-origin: center;   
      -ms-transform-origin: center;   
          transform-origin: center;
  -webkit-box-shadow: 0.1em 0 0 white,
                      0 0.1em 0 white,
                      -0.1em -0.1em 0.1em $box-shadow-color;
          box-shadow: 0.1em 0 0 white,
                      0 0.1em 0 white,
                      -0.1em -0.1em 0.1em $box-shadow-color;
}

.header-sub__nav-link {
  color: #525252;
  font-size: 1.1rem;
  text-decoration: none;
}

.header-sub__nav-link:hover,
.header-sub__nav-link--active,
.header-sub__nav-link--active:hover {
  color: white;
}










// ---------- FOOTER ---------- //

$footer-top-height: 6.25em;


.footer-top {
  height: $footer-top-height;
  background-color: #9ee892;
  background: url("../img/bg-footer-top.jpg") repeat-x;
}

.footer-top__tagline {
  font-size: 1.625em;
  color: white;  
}

.footer-top__order-btn {
  padding: 0 1.1em;
  font-size: 1.5625rem; // 1.25em;
  line-height: 1.6;
}

.footer-top--vertical-center {
  height: 100%;
  line-height: $footer-top-height;
}










 // ---------- FOOTER SUB ---------- //

.footer-sub {
  height: 17.75em;
  background-color: #0c4fb5;
}
