@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

.orbit-container {
    .orbit-bullets {
        margin: -3.5rem 8.2rem 0 auto;
        overflow: hidden;
        position: relative;
        top: 1rem;
        float: right;
        text-align: center;
        display: block;
    }
    .orbit-timer {
        z-index: -1;
    }
}

.nav-top {
    position: relative;
    height: 8.0625rem;
    margin-top: -8.0625rem;
    top: -24.6rem;
    background-color: rgba(0, 82, 204, 0.9);
    box-shadow: 0px 0px 0.0625rem black;
}

.nav-sub {
    height: 4.875rem;
    background-color: #b2b2b2;
    text-align: center;
    vertical-align: middle;
    padding-top: 1.5rem;
}

.nav-sub-link {
    color: #525252;
    font-size: 1.25rem;
}

.nav-sub-link-active {
    color: white;
    &:before {
        content: '';
        height: 0;
        width: 0;
        position: relative;
        bottom: -0.6rem;
        left: 3.4rem;     
        border-bottom: 1rem solid white;
        border-top: 1rem solid transparent;
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
    }
    &:hover {
        color: white;
    }
}

.content-heading {
    display: block;
    width: 30rem;
    padding-bottom: 0.5rem;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 2.1rem;
}

.content-text {
    font-size: 1.1875rem;
    line-height: 1.5rem;
}

.content-img {
    padding-top: 3.625rem;
}

.footer-top {
    content: '';
    height: 6.25rem;
    margin-top: 4rem;
    background-color: #9ee892;
    background: url(../img/bg-footer1.jpg) repeat-x;
}

.footer-sub {
    content: '';
    height: 17.625rem;
    background-color: #0c4fb5;
    font-size: 0.75rem;
}

.tagline {
    display: inline-block;
    padding-top: 2.2rem;
    font-size: 1.625rem;
    font-weight: 400;
}

.site-map {
        padding-top: 2rem;
        font-size: 0.75rem;
        margin-right: 1rem;
        dd {
            margin-bottom: 0;
        }
}

.underline-dot {
    border-bottom: 1px dotted white;
}

// --- COLORS --- //

.orange { color: #f68933; }

.mid-grey { color: #808084; }

.blue { color: #0c4fb5; }

.white { color: #fff; }

// --- HELPER CLASSES --- //

.padding-top-9 { padding-top: 9rem; }

.padding-top-7 { padding-top: 7rem; }
