// --- LAYOUT --- ///


.nav2 {
    text-align: center;
    vertical-align: middle;
    height: 5em;
}

.nav2-link {
    padding-top: 1.3em !important;
}

.nav1-first-row {
    padding-top: 1em;
    padding-bottom: 2em;
}

.logo {
    padding-bottom: 0.6em;
    position: relative;
    top: -0.8em;
    left: 1em;
}

.right-margin-1em {
    margin-right: 1em !important;
}
