// --- COLORS --- //

$blue-sky:         #0052cc;
$blue-water:       #0c57c3;
$gray-frost:       #e2e2e2;
$gray-mid:         #c5c5c5;
$green-mint-dark:  #7ecf71;
$green-mint-mid:   #7dcf70;
$green-mint-light: #9ee892;
$green-pine:       #39b509;
$orange:           #f68933;
$silver-light:     #b2b2b2;
$white:            #ffffff;
$silver-dark:      #c8c3bc;


@mixin color($color) {
    color: $color;
}


@mixin transparency($alpha) {
    filter: alpha(opacity=$alpha*100);
    -khtml-opacity: $alpha;
      -moz-opacity: $alpha;
           opacity: $alpha;
}

.nav2 {
    background-color: $silver-light;
    border-bottom: 1px solid $silver-dark;
}

.nav2-link-active {
    color: $white;
    &:after {
        content: '';
        position: relative;
        height: 0;
        width: 0;
        margin-left: -66px;
        bottom: -17px;
        border-width: 28px;
        border-style: solid;
        border-bottom-color: white;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
    }
}

.nav1 {
    background-color: $blue-sky;
    @include transparency(0.9);
}

.nav1-link {
    color: $white;
    &:hover {
       color: scale-color($white, $lightness: -14%) 
    }
}
